@import '/src/assets/css/utils/description.scss';

.kahkow {
    height: 100%;
    max-height: 50rem;
    & span{
        color: $color-gold;
    }
    & .image img {
        margin-left: $global-spacing-xl;
    }
    
    @media (min-width: 640px) {
        & .image {
            top: 0rem;
            display: grid;
            position: absolute;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            padding-top: $global-spacing-2xl;
        }
        & .image img {
            width: min(max(45%, 20rem), calc(50 * $global-spacing-base));
            margin-left: auto;
        }
    }
    @media (min-width: 1024px) {
        & .image {
            padding-top: calc(5 * $global-spacing-base);
        }
    }
}