.header.kahkow-header {

  button,
  .divisor {
    background-color: $color-black;
  }

  img.only-mobile {
    filter: invert(12%) sepia(1%) saturate(8%) hue-rotate(316deg) brightness(107%) contrast(102%);
  }

  .arrow-wrapper {
    &:after {
      border-top-color: $color-black;
    }
  }

}