.categories-taxonomy {
  //background-color: ;
  .centric-container {

    .centric-block {
      background: #F5F5F5;
      box-shadow: 12px 12px 23px rgba(0, 0, 0, 0.08);
    }
  }

  .gradient-background {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 34.74%, #FFFFFF 61.79%);
    bottom: -9rem;
    @media (min-width: 768px) {
      bottom: -7.5rem;
    }
  }

}
