.the-need {
    background-color: $color-ghost-brown
    ;
    & h2 {
        font-size: $text-size-base;
        line-height: $text-line-height-base;
        margin-bottom: $global-spacing-base;
    }
    & p {
        font-size: $text-size-sm;
        line-height: $text-line-height-sm;
        color: $color-low-gray;
    }
    
    @media (min-width: 640px) {
        & #block.container {
            max-width: 24rem;
        }
        & img {
            object-fit: contain;
        }
        & {
        background: linear-gradient(
            135deg, 
            $color-white 0%, 
            $color-ghost-brown 50%);
        }
        
    }
    @media (min-width: 1024px)  {
        & #block.container {
            max-width: 36rem;
        }
        & img {
            object-fit: none;
        }
        & h2 {
            font-size: $text-size-xl;
            margin-bottom: $global-spacing-md;
            line-height: calc(3.625 * $global-spacing-base);
        }
        & p {
            font-size: $text-size-base;
            line-height: $text-line-height-base;
        }
    }
}