.the-challenge {
    & .dots {
        width: 5rem;
        position: absolute;
        right: 0;
    }
    & .blocks-bg {
        display: flex;
        flex-direction: column;
        gap: $global-spacing-base;
    }
    
    @media (min-width: 1024px)  {
        & .blocks-bg {
            display: flex;
            flex-direction: column;
            gap: $global-spacing-lg;
        }
        & .dots {
            width: 10rem;
        }
    }
}