.kahkow-bg {
    background: linear-gradient(
        263.91deg, 
        $color-cream 17.54%, 
        $color-chocolate 102.23%);
}
.alpha-express-bg {
    background: linear-gradient(
        263.91deg, 
        $color-ocean-blue 17.54%, 
        $color-deep-blue 102.23%);
}
.cancercare-bg {
    background: linear-gradient(
        263.91deg, 
        $color-sky-blue 17.54%, 
        $color-night-blue 102.23%);
}
.footer-bg {
    background-color: $color-ghost-gray;
}

.bg-ghost-gray {
    background-color: $color-ghost-gray;
}

.bg-gray-2 {
    background-color: $color-gray-2;
}

.bg-color-gold {
    background-color: $color-gold;
}