.header {
    padding-top   : 1.5rem;
    padding-bottom: 1.5rem;

    // & h4, & h4 b, & h5, & p { color: $color-dark-blue; }
    & h4 {
        font-size: $text-size-sm;
    }

    & .hide-mobile {
        display: none;
    }

    & .only-mobile {
        display: block;
    }

    .nav-drop-down-container:hover {

        .drop-down-title {
            font-weight: 600;
        }

        .arrow-container {
            display: block;
        }
    }

    // .about-container:focus, .about-container:focus-within {
    //     .arrow-container {
    //         display: block;
    //     }
    // }

    .arrow-wrapper {
        &:after {
            content     : '';
            display     : block;
            border-right: 8px solid transparent;
            border-left : 8px solid transparent;
            border-top  : 12px solid $color-dark-blue;
            filter      : drop-shadow(6px 0px 13px rgba(0, 0, 0, 0.07));
            top         : 9px;
            width       : 0;
            height      : 0;
        }
    }

    .arrow-container:hover {
        display: block;
    }

    .arrow-container {

        &:before {
            content   : '';
            display   : block;
            position  : absolute;
            background: white;
            width     : 100%;
            height    : 50px;
            z-index   : 1;
        }
    }

    .nav-bar-arrow {
        position     : absolute;
        margin       : 0 auto;
        left         : 0;
        right        : 0;
        width        : 0;
        height       : 0;
        border-right : 24px solid transparent;
        border-left  : 24px solid transparent;
        border-bottom: 42px solid white;
        filter       : drop-shadow(6px 0px 13px rgba(0, 0, 0, 0.07));
        top          : 14px;
    }

    .work-dropdown {

        box-shadow   : 6px 7px 23px rgba(0, 0, 0, 0.07);
        border-radius: 4px;


        .project-title {
            color: $color-tourcoise;

            i {
                color: inherit;
            }

        }

        .project-subtitle {
            color: $color-smooth-gray;
        }
    }

    .simple-slide-up {
        transition: transform 1s .1s;
    } 

    .mobile-nav-container {
        transition: height .75s, opacity .75s;
        // overflow  : hidden;
        height    : 0;
        opacity: 0;
        animation-name: closeMobileNavbar;
        animation-duration: 1s;

        &.open {
            transition: height .75s, opacity 0s;
            height: 100vh;
            opacity: 1;

            .project-image  {
                animation: openedToClosedNavBar 1s forwards;
            }


            .mobile-about > *  {
                animation: openedToClosedNavBar 1s forwards;
            }

            .project-name {
                animation: openedToClosedNavBar-name 1s forwards;
            }
            
            .project-description {
                animation: openedToClosedNavBar-description 1s forwards;
            }
        }
    }


    @keyframes openedToClosedNavBar {
        from {
            transform: translateY(200%);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes openedToClosedNavBar-name {
        0% {
            transform: translateY(200%);
        }
        40% {
            transform: translateY(0);
        }
    }

    @keyframes openedToClosedNavBar-description {
        0% {
            transform: translateY(200%);
        }
        60% {
            transform: translateY(0);
        }
    }

    @media (min-width: $media-tablet-width) {
        & .hide-mobile {
            display: block;
        }

        & .only-mobile {
            display: none;
        }
    }
}