.sc-description {
    padding-top: $global-spacing-2xl;
    padding-bottom: $global-spacing-xl;

    & h3{
        font-size: $text-size-sm;
        line-height: $text-line-height-sm;
        margin-bottom: calc($global-spacing-sm / 2);
        text-transform: uppercase;
    }
    & p {
        color: $color-smooth-gray;
        margin-bottom: 0;
    }
    & h5 {
        font-size: $text-size-2xs;
        line-height: $global-spacing-base;
        padding: calc($global-spacing-sm / 2) $global-spacing-md;
        white-space: nowrap;
        background-color: $color-lite-gray;
        color: $color-low-gray;
        display: none;
    }
    
    @media (min-width: 640px) {
        & .content {
            margin-bottom: $global-spacing-base;
        }
        & h5 {
            display: block;
        }
        & p {
            margin-bottom: $global-spacing-base; 
        }
    }
    
    
    @media (min-width: 1024px) {
        & h3{
            font-size: $text-size-lsm;
            line-height: $text-line-height-lsm;
        }
        & {
            padding-top: calc(5 * $global-spacing-base);
            padding-bottom: calc(4 * $global-spacing-base);
        }
    }
    
    
    @media (min-width: 1200px) {
        & h3{
            font-size: $text-size-base;
            line-height: $text-line-height-base;
        }
        & h5 {
            font-size: $global-spacing-md;
            line-height: $global-spacing-lg;
            padding: $global-spacing-sm $global-spacing-xl;
        }
    }
}