.footer {
    & h1, & h5 {
        color: $color-dark-blue;
    }
    & button {
        font-size: $text-size-sm;
    }
    & .portrait {
        width: $global-spacing-xl;
        height: $global-spacing-xl;
    }
    & h5 {
        font-size: $text-size-xs;
    }
    & .schedule {
        display: flex;
        align-items: center;
        gap: $global-spacing-base;
    }

    @media (min-width: 640px) {
        & .portrait {
            width: $global-spacing-2xl;
            height: $global-spacing-2xl;
        }
        & h5 {
            font-size: $text-size-sm;
        }
        & .schedule {
            gap: $global-spacing-xl;
        }
    }
}

.alpha-express-footer {
    &.footer h5,
    &.footer h1 {
        color: $color-soft-blue;
    }
    &.footer button {
        background-color: $color-soft-blue;
    }
    &.footer.footer-bg {
        background-color: $color-ghost-tourcoise;
    }
}

.cancercare-footer {
    &.footer h5,
    &.footer h1 {
        color: $color-tourcoise;
    }
    &.footer button {
        background-color: $color-tourcoise;
    }
    &.footer.footer-bg {
        background-color: $color-ghost-tourcoise;
    }
}

.kahkow-footer {
    &.footer h5,
    &.footer h1 {
        color: $color-black;
    }
    &.footer button {
        background-color: $color-black;
    }
}