.study-case {
    padding-left: $global-spacing-xl;
    padding-right: $global-spacing-xl;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0rem;

    & .next  {
        text-transform: uppercase;
        margin-bottom: $global-spacing-sm;
    }
    & h2, & p {
        color: $color-white;
    }
    & h2 {
        font-size: $text-size-base;
        line-height: $text-line-height-base;
        margin-bottom: $global-spacing-base;
    }
    & p {
        font-size: $text-size-sm;
        line-height: $text-line-height-sm;
        margin-bottom: $global-spacing-md;
        // max-width: 16rem;
    }
    & .side-image {
        display: none;
    }

    button {
        transition:
            background-color 0.1s ease,
            color 0.1s ease, opacity 2s, transform 1s;
        background-color: transparent;
        color: $color-white;
        border: 2px solid $color-white;
        box-sizing: border-box;
        font-size: $text-size-xs;
    
    }
    button:hover {
        transition:
            background-color 0.1s ease,
            color 0.1s ease;
        background-color: $color-white;
        color: $color-black;
    }
    
    @media (min-width: 640px) {
        button {
            font-size: $text-size-sm;
            border: 4px solid $color-white;
        }
        & {
            padding-left: 0rem;
            padding-right: 0rem;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 1rem;
        }
        & .side-image {
            display: block;
        }
    }
    @media (min-width: 1024px) {
        & h2 {
            font-size: $text-size-xl;
            line-height: $text-line-height-xl;
        }
        & p {
            font-size: $text-size-base;
            line-height: $text-line-height-base;
            margin-bottom: $global-spacing-xl;
            // max-width: 24rem;
        }
    }
}