@font-face {
    font-family: 'Wotfard';
    src: url('./fonts/Wotfard/Wotfard-Thin.otf') format('opentype');
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Wotfard';
    src: url('./fonts/Wotfard/Wotfard-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Wotfard';
    src: url('./fonts/Wotfard/Wotfard-Light.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Wotfard';
    src: url('./fonts/Wotfard/Wotfard-Regular.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Wotfard';
    src: url('./fonts/Wotfard/Wotfard-Medium.otf') format('opentype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Wotfard';
    src: url('./fonts/Wotfard/Wotfard-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Wotfard';
    src: url('./fonts/Wotfard/Wotfard-Bold.otf') format('opentype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}