:root {
    --text-size-2xl: 3.75rem;
    --text-size-xl: 3rem;
    --text-size-lg: 2rem;
    --text-size-base: 1.5rem;
    --text-size-lsm: 1.25rem;
    --text-size-sm: 1rem;
    --text-size-xs: 0.8125rem;
    --text-size-2xs: 0.75rem;
    
    --text-line-height-2xl: 4.5rem;
    --text-line-height-xl: 3.7rem;
    --text-line-height-lg: 2.25rem;
    --text-line-height-md: 1.8rem;
    --text-line-height-base: 1.75rem;
    --text-line-height-lsm: 1.65rem;
    --text-line-height-sm: 1.25rem;
    --text-line-height-xs: 1rem;
    --text-line-height-2xs: 0.875rem;
    
    --button-padding-x-base: 2rem;
    --button-padding-y-base: 1.5rem;
    --button-padding-x-sm: 1.5rem;
    --button-padding-y-sm: 1rem;
        
    --global-spacing-2xl: 3rem;
    --global-spacing-xl: 2rem;
    --global-spacing-lg: 1.5rem;
    --global-spacing-md: 1.25rem;
    --global-spacing-base: 1rem;
    --global-spacing-sm: 0.5rem;
    
    --color-white: #FFFFFF;
    --color-dark-blue: #1A2760;
    --color-ghost-gray: #F7F7F7;
    --color-gray: #858585;
    --color-low-gray: #707070;
    --color-lite-gray: #F2F2F2;
    --color-smooth-gray: #686B77;
    --color-light-gray: #C4C4C4;
    --color-yellow: #FECA1C4D;
    --color-gold: #E9B565;
    --color-chocolate: #0D0D0D;
    --color-cream: #4A151D;
    --color-black: #202020;
    --color-ocean-blue: #265897;
    --color-deep-blue: #051B34;
    --color-sky-blue: #3B8BC3;
    --color-night-blue: #123B61;
}   

* {
    font-family: Wotfard;
    color: var(--color-black)
}
h1 {
    font-size: var(--text-size-lg);
    line-height: var(--text-line-height-lg);
    margin-bottom: var(--global-spacing-sm);
}
h2 {
    font-size: var(--text-size-xl);
}
h3 {
    font-size: var(--text-size-lg);
}
h4 {
    font-size: var(--text-size-base);
}
h5 {
    font-size: var(--text-size-sm);
    line-height: var(--text-line-height-sm);  
}
p {
    font-size: var(--text-size-2xs);
    line-height: var(--text-line-height-2xs);
    margin-bottom: var(--global-spacing-base);  
}
hr {
    color: var(--color-light-gray);
}
button {
    padding: var(--button-padding-y-sm) var(--button-padding-x-sm);
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    font-size: var(--text-size-sm);
    line-height: var(--text-line-height-sm);
    text-transform: uppercase;
}
mark {
    background-color: var(--color-yellow);
    color: inherit;
}
.divisor {
    width: 2px;
    height: 2rem;
    background-color: var(--color-dark-blue);
}

.txt-gray{
    color: var(--color-gray);
}
.txt-dk-blue{
    color: var(--color-dark-blue);
}
.container {
    padding-left: var(--global-spacing-lg);
    padding-right: var(--global-spacing-lg);
}

.site-example {
    filter: drop-shadow(0px -5px 23px rgba(0, 0, 0, 0.07)) drop-shadow(-4px 4px 15px rgba(0, 0, 0, 0.08));
}

#block.container {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

@media (min-width: 640px) {
    h1 {
        font-size: var(--text-size-xl);
        line-height: var(--text-line-height-xl);
        margin-bottom: var(--global-spacing-sm);
    }
    
    p {
        font-size: var(--text-size-sm);
        line-height: var(--text-line-height-sm);
    }
    #block.container {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}



@media (min-width: 1200px) {    
    h1 {
        font-size: var(--text-size-2xl);
        line-height: var(--text-line-height-2xl);
        margin-bottom: var(--global-spacing-sm);
    }
    h2 {
        font-size: var(--text-size-xl);
    }
    h3 {
        font-size: var(--text-size-lg);
    }
    h4 {
        font-size: var(--text-size-base);
    }
    h5 {
        font-size: var(--text-size-sm);
        line-height: var(--text-line-height-sm);  
    }
    p {
        font-size: var(--text-size-lsm);
        line-height: var(--text-line-height-lsm);
    }
}

@media (min-width: 1440px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}