<!doctype html>
<html lang="en">
<head>
    <link rel="icon" type="image/svg+xml" href="leos-favicon.jpg" />
    <meta charset="utf-8">
    {% if page.author %}
    <meta name="author" content="{{ page.author }}">
    {% endif %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
    {% endif %}
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/fonts.css">
    {% if page.css_group %}
        {% for stylesheet in page.css_group %}
        <link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css">
        {% endfor %}
    {% endif %}
</head>
<body>
{{ content }}
<script src="{{ base.url | prepend: site.url }}/assets/js/about-modal.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/slide-up.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/mobile-nav-slide.js"></script>
</body>
</html>